@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding:0;
    box-shadow: none;
}

.background {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

#survey {
    background-color: rgba(24, 17, 122, 0.7);
    width: 600px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 25px;

}

.container {
    margin-top: 50px;
    font-size: 110%;
    
}

input[type=text],
input[type=email],
input[type=number],
textarea,
#dropdown {
    width: 100%;
    margin-top: 10px;
    height: 35px;
}

h1 {
    text-align: center;
}

#description {
    margin: 0;
    text-align: center;
}

.radio,
.checkbox {
    display: block;
    margin-bottom: 10px;    
}

input[type=radio],
input[type=checkbox] {
    margin-right: 20px;
}

#radio-qtn,
#checkbox-qtn {
    margin-bottom: 10px;
}

textarea {
    height: 70px;
}

button {
    margin-top: 20px;
    height: 35px;
    width: 100%;
    background-color: rgb(55, 182, 83);
    color: white;
    border: 0;
    font-size: 110%;
}
